* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background: darkgrey;
    padding: 40px;
}

.card {
    max-width: 300px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    background: white;
}


.card-caption {
    text-align: center;

}